// You should follow the config json pattern in this file and create a file named config.json to make things work.
{
  "database": {
    "name": {
      "engine": "mysql", // The options here are: mysql or postgres
      "host": "<host>",
      "port": "<port>",
      "user": "<db_user>",
      "pass": "<password>",
      "database": "<db_name>"
    }
  }
}